.profile {
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
  margin: auto;
  display: block;
}

#introduce {
  width: 100%;
  justify-content: center;
  text-align: center;
}

#discription {
  text-align: center;
}

h1 {
  font-style: italic;
  font-size: 80px;
}

#tree {
  display: inline;
  text-align: center;
  color: rgba(82, 52, 52, 0.8);
}

#neul {
  display: inline;
  text-align: center;
  color: rgb(91, 176, 91);
}

body {
  background-color: rgba(80, 56, 8, 0.638);
  align-items: center;
  justify-content: center;
}

li {
  font-size: 25px;
  font-weight: bold;
  list-style-type: none;
}

.magic-link {
  border-style: dashed;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: rgba(82, 52, 52, 0.8);
  background-color: rgb(91, 176, 91);
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}